@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(224 242 254);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    background-color: white;
    padding: 30px 40px;
}

.content {
    display: flex;
}

.wrapper-content {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 9px 9px 5px rgb(21 94 117);
}

.update-data {
    background-color: rgb(56 189 248);
    padding: 20px 20px;
    width: 200px;
    display: flex;
    justify-content: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

h1 {
    font-size: x-large;
}

p {
    margin-top: 10px;
}

.main-content > p:nth-child(1) {
    font-size: larger;
    font-weight: 700;
}

.update-data div > p {
    display: inline;
    margin-right: 70px;
    font-size: smaller;
    font-weight: 700;
}

.update-data div {
    background-color: white;
    padding: 10px 10px;
    border-radius: 4px;
    height: fit-content;
    transition-duration: 300ms;;
}

.update-data div > i {
    transform: rotate(-90deg);
}

.form-update {
    display: none;
}

input[type="submit"] {
    margin-top: 10px;
    padding: 3px 7px;
}